extends ../components/header.pug

block styles
  link(rel="stylesheet" type="text/css" href="/order.css")

block content
  if orders.length > 0
    ul.order-list
      each order in orders
        li.order-item
          h2.order-item-id # #{order._id}
          ul.order-item-items-list
            each item in order.items
              li.order-item-items-list-item #{item.productId.title} (#{item.qty})
                b $ #{item.qty * item.productId.price}
          p.align-right Order Value: 
            strong $ #{order.totalValue}

  else
    h1 #{pageTitle}
    h2 Quite lonely here, don't you think?